

<div class="footer">
    <nav class="row" role="navigation">
        <div class="col-sm-4 center"><%= link_to "Instructions", rules_path %></div>
        <div class="col-sm-4 center"><%= link_to "Press Kit", press_path %></div>
        <div class="col-sm-4 center"><%= link_to "Wholesale", wholesale_path %></div>
    </nav>
</div>

<p> Copy Battle of the Bands 2016 </p>
