
<div>
  <ul>
    <li><p><%= link_to "Instructions", rules_path %></p></li>
    <li><p><%= link_to "Press Kit", press_path %></p></li>
    <li><p><%= link_to "Wholesale", wholesale_path %></p></li>
</div>



<div class="container">
    <nav class="row" role="navigation">
        <div class="col-sm-4 center"><p>Content here</p></div>
        <div class="col-sm-4 center"><p>Content here</p></div>
        <div class="col-sm-4 center"><p>Content here</p></div>
    </nav>
</div>
