

<div class="footer">
    <nav class="row" role="navigation">
      <p> Copy Battle of the Bands 2016 </p>
      <ul>
       <li><%= link_to "Instructions", rules_path %></li>
       <li><%= link_to "Press Kit", press_path %></li>
       <li><%= link_to "Wholesale", wholesale_path %></li>
      </ul>
    </nav>
</div>


