<h1> This is the Home Page </h1>

<a href="#TheGame">The Game</a>
<a href="#Purchase">Purchase</a>
<a href="#ContactUs">Contact Us</a>
<a href="#FAQ">FAQ</a>
<a href="#Connect">Connect</a>

<h2><a id="TheGame">The Game</a></h2>


<h2><a id="Purchase">Purchase</a></h2>


<h2><a id="ContactUs">Contact Us</a></h2>


<h2><a id="FAQ">FAQ</a></h2>


<h2><a id="Connect">Connect</a></h2>


