<h1> Press </h1>


<button>Toggle</button>

<p>This is a paragraph with little content.</p>
<p>This is another small paragraph.</p>



<div id="animate">Animate</div>


<script>
  var a = $("#animate");
  a.slideUp(1000);
</script>