@import "bootstrap-sprockets";
@import "bootstrap";

.title {
  text-align: center;
  height: 197px;
}

.section {
  background-color: grey;
  height: 500px;
}

.footer {
 background-color: black;
  height: 50px;
  width: 100%;
}


 /*Navbar fixing */
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .title {
      padding-top: 70px;
  }

/* Lineup */

.lineup {
  height: 200px;
}

/* Subscribe Partial */

.Subsribe {
  text-align: center;
}

/*Jquery Testing */

#animate {
  background-color: blue;
  color: white;
  height: 100px;
}

.testing {
  height: auto;
  background-size: cover;
  bckground-position: center;
  background-color: red;
}
